@model Sandogh.Domain.Carts.CartDto


<div class="auto-container">
    <div class="clearfix">

        <div class="card" style="margin-bottom:1.5rem;">
            <div class="card-header">
                <div class="card-title">سبد خرید</div>
            </div>
            <div class="card-body">

                @foreach (var item in Model.Items)
                {
                    <div style="display:flex;width:100%;">
                        <div style="width:20%">
                            <img src="~/theme/images/resource/products/1.jpg" width=250 alt="">
                        </div>
                        <div style="width:80%">
                            <p>@item.ProductName</p>

                            <p>@item.UnitPrice.ToString("n0") تومان</p>
                            <p>@((item.UnitPrice * item.Quantity).ToString("n0")) تومان</p>
                            <p>
                                <div class="item-title">تعداد</div>
                                <div class="item-quantity" style="width:100px;">
                                    <input class="quantity-spinner"
                                       type="text" onchange="SetQty('@item.Id')"
                                       id="quantity-@item.Id"
                                       value="@item.Quantity">
                                </div>


                            </p>

                            <p>
                                <form asp-action="RemoveItemFromCart" asp-controller="Carts" method="post">
                                    <input name="ItemId" type="hidden" value=@item.Id>
                                    <button class="btn btn-danger"> <i class="fa fa-trash-o"></i> حذف </button>
                                </form>
                            </p>
                        </div>
                    </div>

                    <hr />
                }

            </div>
            <div class="card-footer">
                مبلغ کل
                @if (Model != null)
                {
                    <span>  @Model.Total().ToString("n0")</span>
                }
                <a class="btn btn-danger" href="@Url.Action("ShippingPayment","Carts")">تکمیل</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    function  SetQty(itemId){
           var quantity = $("#quantity-"+itemId).val();

           $.ajax({
            type: "POST",
            url: "/Carts/SetQuantities?ItemId=" + itemId + "&&qty=" + quantity,
            success: function () {
                location.reload();
            }
        })
    }

</script>
}

